@addTagHelper "HelloTagHelpers.TagHelpers.SpanTagHelper, HelloTagHelpers"
@tagHelperPrefix "foo:"

<!DOCTYPE html>
<html>
<body>
<h1>Hello MVC!</h1>
    <foo:span emoji="smile"></foo:span>
</body>
</html>