@model Authentication.Models.HomeViewModel
@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"

<!DOCTYPE html>
<html>
<head>
    <title>Hello from MVC</title>
</head>
<body>
    <h1>Hello @Model.Name from MVC!</h1>
    <a asp-controller="Account" asp-action="Logout">Logout</a>
    <a asp-controller="Sales" asp-action="Index">View Sales Total</a>
</body>
</html>